<div class=".row"> 
	<div class="col-xs-12 col-sm-4">
		<section>
			<h3>イベント</h3>
			<ng-include src="'partials/eventlist.html'"></ng-include>
		</section>
	</div>
	<div class="col-xs-12 col-sm-4">
		<section>
			<h3>メンバーの活動</h3>
			<ng-include src="'partials/member-action.html'"></ng-include>
		</section>
	</div>
	<div class="col-xs-12 col-sm-4">
		<section>
			<h3>参加者はどんな人？</h3>
			<ul>
				<li>HTML5とか新しいWebの技術とかよくわからないけど、とにかく勉強したいと思っている人。</li>
				<li>レガシー技術や既存システムだらけの環境に、モダンWeb技術をどう適用すれば良いか考えている人。
	フロントエンド技術に詳しくなりたい人。モダンWeb技術について深く知りたい人。</li>
				<li>Web技術の専門家。Webの標準化に関わっている人。</li>
			</ul>
		</section>
	</div>
</div>